* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #30c05a;
  --lightgreen: #4bc970;
  --dark: #384047;
  --bgwhite: #f4f7f8;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--dark);
  background-color: var(--bgwhite);
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #384047;
}

.form, .log-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
  height: 585px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 3px 10px 1px lightgray;
}

.log-form{
  width: 24%;
  height: 400px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title .icon img {
  width: 120px;
  height: 45px;
}

.title .icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.title .icon p {
  color: #aea3a31a;
}

.title i {
  font-size: 30px;
  color: var( --green);
}

#firstName,
#lastName,
#email,
#password,
#reEnterPassword {
  border: none;
  border-radius: 4px;
  background-color: #aea3a31a;
  height: 40px;
  padding-left: 15px;
  width: 69%;
  font-size: 12px;
}

#firstName,
#lastName,
#email,
#password,
#reEnterPassword:focus {
  outline: none;
}

#submit, #log-in {
  padding: 10px 30px;
  color: #fff;
  background-color: var( --green);
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #3ac162;
  box-shadow: 0 1px 0 #4bc9701a;
}

#submit:hover {
  background-color: var(--lightgreen);
  transition: 0.5;
}

#log-in{
  padding:10px 25px 10px 25px;
  font-size: 18px;
  width: 100%;
}

#log-in:hover{
  background-color: var(--lightgreen);
  transition: 0.5;
}

#span-first-name,
#span-last-name,
#span-email,
#span-pw,
#span-reEnter {
  color: #d00707;
  font-size: 12px;
  margin-left: 3px;
  display: block;
  position: absolute;
  top: 114%;
  right: 13%;
 
}
.form-group {
  width: 100%;
  position: relative;
}
.form-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

div p > a {
  text-decoration: none;
  color: var(--green);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .log-form {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .log-form {
    width: 55%;
  
  }
}

@media (max-width: 768px) {
  .log-form {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .log-form {
    width: 90%;
    box-shadow: none;
  }
  .form-group {
    padding: 0 30px;
    box-shadow: none;
  }
  .form-input{
    padding: 0 14px ;
  }
}